target/classes/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
	  xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
      xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
      xmlns:esper="http://www.mulesoft.org/schema/mule/esper"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
		http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
		http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
		http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
		http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
		http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
		http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
		http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
		http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
		http://www.mulesoft.org/schema/mule/esper http://www.mulesoft.org/schema/mule/esper/current/mule-esper.xsd
	">

    <spring:beans>

        <spring:bean id="testString" class="java.lang.String">
            <spring:constructor-arg value="BIGTAP" />
        </spring:bean>

        <spring:bean id="esperConfigFile" class="java.lang.String">
            <spring:constructor-arg value="esper.cfg.xml" />
        </spring:bean>

        <spring:bean id="messageTypes" class="java.util.ArrayList">
            <spring:constructor-arg>
                <spring:list>
                    <spring:value>CON</spring:value>
                    <spring:value>MISC</spring:value>
                    <spring:value>CCI</spring:value>
                </spring:list>
            </spring:constructor-arg>
        </spring:bean>

        <spring:bean id="eventGenerator" class="com.taptech.esper.util.RandomTemperatureEventGenerator"/>
    </spring:beans>
    <esper:config configuration="esper.cfg.xml" name="esperConfig" />
    <flow name="main">
       <vm:inbound-endpoint path="in" />

        <!-- TODO add your service component here. This can also be a Spring bean using <spring-object bean="name"/> -->
       <append-string-transformer message=" Received" />

        <vm:outbound-endpoint path="out"/>
    </flow>
    <flow name="pollmsgFlow">
        <poll>
            <fixed-frequency-scheduler frequency="6000"/>
            <expression-component>
                <![CDATA[     payload = app.registry['eventGenerator'].startSendingTemperatureReadings(10);]]>
            </expression-component>
        </poll>
        <logger message="This is pollmsgFlow flow with payload #[payload] " level="INFO"/>
        <logger message="This is pollmsgFlow flow with message properties #[message.inboundProperties]" level="INFO"/>
        <collection-splitter/>
        <esper:send config-ref="esperConfig" eventPayload-ref="#[payload]"/>
    </flow>
    <flow name="criticalTempFlow">
        <esper:listen config-ref="esperConfig" statement="select * from Temperatures where temperature > 400" />
        <logger message="This is criticalTempFlow flow with payload #[payload] " level="INFO"/>
    </flow>
</mule>
